<div class="container">
    <form [formGroup]="formulaire">
  
      <div>
  
        <div>
          <h2>Creation de Compte</h2>
          <hr>
        </div>
        <div class="form-group">
          <div class="ui-inputgroup">
            <span>
              <label for="email">Email: </label>
              <input class="form-control" id="email" formControlName="email" name="email" type="text" size="30" >
  
            </span>
          </div>
        </div>
  
        <div class="form-group">
          <div class="ui-inputgroup">
            <span>
              <label for="pass1">Mot de passe: </label>
              <input class="form-control" id="pass1" formControlName="password" name="password" type="text" size="30" pPassword>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="ui-inputgroup">
            <span>
              <label for="pass2">Confirmer votre mot de passe: </label>
              <input class="form-control" id="pass2" formControlName="password" name="password" type="password" size="30" pPassword>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="ui-inputgroup">
            <span>
              <label for="nom">Nom: </label>
              <input class="form-control" id="nom" formControlName="nom" name="nom" type="text" size="30" >
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="ui-inputgroup">
            <span>
              <label for="nom">Prénom: </label>
              <input class="form-control" id="prenom" formControlName="prenom" name="prenom" type="text" size="30" >
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="ui-inputgroup">
            <span>
              <label for="adresse">Adresse: </label>
              <textarea class="form-control" id="adresse" formControlName="adresse" name="adresse" type="text"></textarea>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="ui-inputgroup">
            <span>
              <label for="tel">Téléphone: </label>
              <input class="form-control" id="tel" formControlName="tel" name="tel" type="tel" size="30" >
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="ui-inputgroup">
            <span>
              <label for="naissance">Date de naissance: </label>
              <p-calendar class="form-control" id="naissance" formControlName="naissance" name="naissance" type="date" size="30" ></p-calendar>
            </span>
          </div>
        </div>


        <button class="btn btn-success" type="button" (click)="onSubmit()">Créer</button>
      </div>
    </form>
  </div>
  