<div class="container">
    <form [formGroup]="formulaire">
  
      <div>
  
        <div>
          <h2>Creation de Compte</h2>
          <hr>
        </div>
        <div class="form-group">
          <div class="ui-inputgroup" style="display: block;">
            <span>
              <label for="email">Email: </label>
              <input class="form-control" id="email" formControlName="email" name="email" type="text" size="30" >
  
            </span>
          </div>
        </div>
  
        <div class="form-group">
          <div class="ui-inputgroup" style="display: block;">
            <span>
              <label for="pass">Password: </label>
              <input class="form-control" id="pass" formControlName="password" name="password" type="password" size="30" pPassword>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="ui-inputgroup" style="display: block;">
            <span>
              <label for="pass">Password: </label>
              <input class="form-control" id="pass" formControlName="password" name="password" type="password" size="30" pPassword>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="ui-inputgroup" style="display: block;">
            <span>
              <label for="pass">Password: </label>
              <input class="form-control" id="pass" formControlName="password" name="password" type="password" size="30" pPassword>
            </span>
          </div>
        </div>
  
        <button pButton class="btn btn-success" type="button" (click)="onSubmit()">Ajouter</button>
      </div>
    </form>
  </div>
  