<div class="container">
    <h2>Mon panier</h2>
    <hr>

    <p-dataScroller [value]="productsInCart" [rows]="10">
        <ng-template let-product pTemplate="item">
            <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                <div class="ui-g-12 ui-md-3" style="text-align:center">
                    <img src="{{picture(product.picture)}}">
                </div>
                <div class="ui-g-12 ui-md-7">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6">Nom: </div>
                        <div class="ui-g-10 ui-sm-6">
                            <b>{{product.name}}</b>
                        </div>

                        <div class="ui-g-2 ui-sm-6">Editeur: </div>
                        <div class="ui-g-10 ui-sm-6">
                            <b>{{product.editor}}</b>
                        </div>

                        <div class="ui-g-2 ui-sm-6">Type: </div>
                        <div class="ui-g-10 ui-sm-6">
                            <b>{{product.type}}</b>
                        </div>

                        <div class="ui-g-2 ui-sm-6">Prix: </div>
                        <div class="ui-g-10 ui-sm-6">
                            <b>{{product.price}} €</b>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-2">
                    <button pButton type="button" class="edit-btn petitCarre" icon="fa fa-plus" (click)="addToCart(product, 1)"></button>
                    <p class="petitCarre">{{getQuantity(product)}}</p>
                    <button pButton type="button" class="edit-btn petitCarre" icon="fa fa-minus" (click)="remove(product, 1)"></button>
                    <button pButton type="button" class="edit-btn ui-button-danger petitCarre" icon="fa fa-trash" (click)="removeAll(product)"></button>
                    <p class="petitCarre">Total : {{getTotalByProduct(product)}} €</p>
                </div>
            </div>
        </ng-template>
    </p-dataScroller>
    <div>
        <p class="total">Total : {{getTotal()}} €</p>
        <button class="total-btn btn btn-success" type="submit" (click)="onSubmit()">Confirmer commande</button>
    </div>
</div>

<p-dialog header="Voulez vous confirmer votre commande ?" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
    [modal]="true" width="500" (onAfterHide)="onDialogHide()">
    <div class="container ui-g">
        <button class="btn btn-danger" style="margin-left:80px;margin-right:auto;" (click)="onDialogHide()" type="button"> Annuler </button>
        <button class="btn btn-success" style="margin-left:auto;margin-right:80px;" (click)="onCommandValidation()" type="button"> Confirmer </button>
    </div>
</p-dialog>

<p-growl [value]="msgs" baseZIndex="100"></p-growl>