<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/logo.png" height="50" alt="Durandal">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Account" *ngIf="isAuthenticated()">Mon Compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Cart">Mon Panier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/GestionProduit" *ngIf="isAdmin()">Gestion des Produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/GestionCommandes" *ngIf="isAdmin()">Gestion des Commandes</a>
            </li>            
        </ul>
        
        <form class="form-inline my-2 my-lg-0">
            <span class="navbar-text mr-sm-2" *ngIf="isAuthenticated()" >Bienvenue {{getUsername()}}</span>
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Connexion</button>-->
            <a class="btn btn-outline-success my-2 my-sm-0 espace" *ngIf="!isAuthenticated()" routerLink="/Connexion">Connexion</a>            
            <a class="btn btn-outline-success my-2 my-sm-0 espace" *ngIf="isAuthenticated()"  routerLink="/" (click)="logout()">Déconnexion</a>
        </form>
    </div>
</nav>
<router-outlet></router-outlet>