<p-growl [value]="msgs" baseZIndex="100"></p-growl>
<p-dataView #dv [value]="products" [paginator]="true" [rows]="10" paginatorPosition="both" filterBy="name" [sortField]="sortField"
    [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Trier :" (onChange)="onSortChange($event)" [autoWidth]="false"
                        [style]="{'min-width':'15em'}"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Cherché par --" (keyup)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-product pTemplate="listItem">
        <div class="ui-g element" style="padding: 2em;border-bottom: 1px solid #d9d9d9">

            <div (click)="selectProduct($event, product)" class="ui-g-12 ui-md-3" style="text-align:center">
                <img src="{{picture(product.picture)}}">
            </div>
            <div (click)="selectProduct($event, product)" class="ui-g-12 ui-md-8 car-details">
                <div class="ui-g">

                    <div class="ui-g-2 ui-sm-6">Nom: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <b>{{product.name}}</b>
                    </div>

                    <div class="ui-g-2 ui-sm-6">Editeur: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <b>{{product.editor}}</b>
                    </div>

                    <div class="ui-g-2 ui-sm-6">Type: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <b>{{product.type}}</b>
                    </div>

                    <div class="ui-g-2 ui-sm-6">Prix: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <b>{{product.price}} €</b>
                    </div>
                </div>
            </div>

            <div class="ui-g-12 ui-md-1 search-icon">
                <button pButton type="button" class="edit-btn" icon="pi pi-search" (click)="selectProduct($event, product)"></button>
                <button pButton type="button" class="edit-btn" icon="fa fa-cart-plus" (click)="addToCart(product, 1)"></button>

                <button *ngIf="admin" pButton class=" edit-btn ui-button-warning" type="button" icon="fa fa-edit" (click)="updateDialog($event, product)"></button>
                <button pButton *ngIf="admin" class=" edit-btn ui-button-danger" type="button" icon="fa fa-trash" (click)="delDialog($event, product)"></button>


            </div>
        </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="product.ref" [style]="{'text-align':'center'}">
                <div class="element">
                    <img src="{{picture(product.picture)}}" width="60">
                    <div class="product-detail">{{product.name}} - {{product.price}} €</div>
                    <hr class="ui-widget-content" style="border-top:0">

                    <button pButton type="button" class="edit-btn" icon="pi pi-search" (click)="selectProduct($event, product)"></button>
                    <button pButton type="button" class="edit-btn" icon="fa fa-cart-plus" (click)="addToCart(product, 1)"></button>


                    <button *ngIf="admin" pButton class=" edit-btn ui-button-warning" type="button" icon="fa fa-edit" (click)="updateDialog($event, product)"></button>
                    <button pButton *ngIf="admin" class=" edit-btn ui-button-danger" type="button" icon="fa fa-trash" (click)="delDialog($event, product)"></button>
                </div>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>

<p-dialog header="Détails du produit" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="500"
    (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedProduct">
        <div class="ui-g-12" style="text-align:center">
            <img src="{{picture(selectedProduct.picture)}}">
        </div>

        <div class="ui-g-4">Nom: </div>
        <div class="ui-g-8">{{selectedProduct.name}}</div>

        <div class="ui-g-4">Editeur: </div>
        <div class="ui-g-8">{{selectedProduct.editor}}</div>

        <div class="ui-g-4">Type: </div>
        <div class="ui-g-8">{{selectedProduct.type}}</div>

        <div class="ui-g-4">Prix: </div>
        <div class="ui-g-8">{{selectedProduct.price}} €</div>

        <div class="ui-g-4">Description: </div>
        <div class="ui-g-8"><p class="product_detail">{{selectedProduct.description}}</p></div>
    </div>
</p-dialog>


<p-dialog header="Voulez vous vraiment supprimer ce produit ?" [(visible)]="displayDialog2" [responsive]="true" showEffect="fade"
    [modal]="true" width="500" (onAfterHide)="onDialogHide()">
    <div class="container ui-g" *ngIf="selectedProduct">

        <div class="ui-g-12" style="text-align:center">
            <img src="{{picture(selectedProduct.picture)}}">
        </div>

        <div class="ui-g-4">Nom: </div>
        <div class="ui-g-8">{{selectedProduct.name}}</div>

        <div *ngIf !="isOrdered">
            <div class="text-danger ui-g-4">Attention: </div>
            <div class="ui-g-8">
                <p class="text-warning">Ce produit est en cours de commande , vous ne pouvez que le désactivé</p>
            </div>
        </div>
        <div *ngIf="isOrdered">
            <div class="ui-g-8">
                <p class="text-danger">Etes vous sur de vouloir Supprimé ce produit de la Base de donnée ?</p>
            </div>
        </div>
        <div>
            <button *ngIf="selectedProduct.enabled && !isOrdered" class="validation btn btn-warning " (click)="desactivateProduct($event,selectedProduct)"
                role="button" type="button">Desactivation </button>
            <button *ngIf="isOrdered" class="validation btn btn-danger " (click)="delProduct($event, selectedProduct)" role="button"
                type="button">Supprimer </button>
            <br>
            <br>
            <button class=" validation btn btn-default active" aria-pressed="true" (click)="hide()" type="button"> Annuler </button>
        </div>
    </div>
</p-dialog>

<p-dialog header="Modification des produits" [(visible)]="displayDialog3" [responsive]="true" showEffect="fade" [modal]="true"
    width="500" (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedProduct">
        <div class="ui-g-12" style="text-align:center">
            <img src="{{picture(selectedProduct.picture)}}">
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="ui-inputgroup" style="display: block;">
                    <span>
                        <label for="name">Nom: </label>
                        <input class="form-control" id="name" required [(ngModel)]="selectedProduct.name" name="name" type="text" size="30">
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="ui-inputgroup" style="display: block;">
                    <span>
                        <label for="price">Prix: </label>
                        <input class="form-control" id="price" required [(ngModel)]="selectedProduct.price" name="price" type="text" size="30">
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="ui-inputgroup" style="display: block;">
                    <span>
                        <label for="quantity">Quantité: </label>
                        <input class="form-control" id="quantity" required [(ngModel)]="selectedProduct.quantity" name="quantity" type="text" size="30">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="ui-inputgroup" style="display: block;">
                    <span>
                        <label for="type">type: </label>
                        <input class="form-control" id="type" [(ngModel)]="selectedProduct.type" name="type" type="text" size="30">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="ui-inputgroup" style="display: block;">
                    <span>
                        <label for="editor">editeur: </label>
                        <input class="form-control" id="editor" [(ngModel)]="selectedProduct.editor" name="editor" type="text" size="30">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="ui-inputgroup" style="display: block;">
                    <span>
                        <label for="description">Description: </label>
                        <textarea class="form-control" id="description" [(ngModel)]="selectedProduct.description" name="description" type="text"
                            size="30">

            </textarea>
                    </span>
                </div>
            </div>

            <!-- LE CODE DE GABIN PR UPLOAD L'IMAGE -->

            <input class="validation text-warning " id="enabled" [(ngModel)]=selectedProduct.enabled name="enabled" type="checkbox">
            <label *ngIf="selectedProduct.enabled" for="enabled" class="text-success"> Visible sur le site </label>
            <label *ngIf="!selectedProduct.enabled" for="enabled" class="text-danger"> Invisible </label>
            <br>
            <br>
            <button class="validation btn btn-success" type="submit" (click)="updateProduct($event, selectedProduct)">Ajouter</button>
        </form>



    </div>
</p-dialog>