<p-dataView #dv [value]="products" [paginator]="true" [rows]="10" paginatorPosition="both" filterBy="name" [sortField]="sortField"
  [sortOrder]="sortOrder">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Trier :" (onChange)="onSortChange($event)" [autoWidth]="false"
            [style]="{'min-width':'15em'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Cherché par --" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-product pTemplate="listItem">
    <div class="ui-g element">

      <div (click)="selectProduct($event, product)" class="ui-g-12 ui-md-3" style="text-align:center">
        <img src="{{picture(product.picture)}}"  >
      </div>
      <div (click)="selectProduct($event, product)" class="ui-g-12 ui-md-8 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Référence: </div>
          <div class="ui-g-10 ui-sm-6">
            <b>{{product.ref}}</b>
          </div>

          <div class="ui-g-2 ui-sm-6">Nom: </div>
          <div class="ui-g-10 ui-sm-6">
            <b>{{product.name}}</b>
          </div>

          <div class="ui-g-2 ui-sm-6">Type: </div>
          <div class="ui-g-10 ui-sm-6">
            <b>{{product.type}}</b>
          </div>

          <div class="ui-g-2 ui-sm-6">Prix: </div>
          <div class="ui-g-10 ui-sm-6">
            <b>{{product.price}} €</b>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-1 search-icon">
        <button pButton type="button" class="edit-btn" icon="pi pi-search" (click)="selectProduct($event, product)"></button>

        <button *ngIf="admin" pButton class=" edit-btn ui-button-warning" type="button" icon="fa fa-edit" (click)="updateProduct($event, product)"></button>
        <button pButton *ngIf="admin" class=" edit-btn ui-button-danger" type="button" icon="fa fa-trash" (click)="delProduct($event, product)"></button>


      </div>
    </div>
  </ng-template>
  <ng-template let-product pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="product.ref" [style]="{'text-align':'center'}">
        <div class="element">
          <img src="{{picture(product.picture)}}" width="60">
          <div class="product-detail">{{product.name}} - {{product.price}} €</div>
          <hr class="ui-widget-content" style="border-top:0">

          <button pButton type="button" class="edit-btn" icon="pi pi-search" (click)="selectProduct($event, product)"></button>

          <button *ngIf="admin" pButton class=" edit-btn ui-button-warning" type="button" icon="fa fa-edit" (click)="none"></button>
          <button pButton *ngIf="admin" class=" edit-btn ui-button-danger" type="button" icon="fa fa-trash" (click)="delDialog()"></button>
        </div>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<p-dialog header="Détails du produit" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="500"
  (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="selectedProduct">
    <div class="ui-g-12" style="text-align:center">
      <img src="{{picture(selectedProduct.picture)}}">
    </div>
    <div class="ui-g-4">Référence: </div>
    <div class="ui-g-8">{{selectedProduct.ref}}</div>

    <div class="ui-g-4">Nom: </div>
    <div class="ui-g-8">{{selectedProduct.name}}</div>

    <div class="ui-g-4">Type: </div>
    <div class="ui-g-8">{{selectedProduct.type}}</div>

    <div class="ui-g-4">Prix: </div>
    <div class="ui-g-8">{{selectedProduct.price}} €</div>
  </div>
</p-dialog>

<p-dialog header="Voulez vous vraiment supprimer ce produit ?" [(visible)]="displayDialog2" [responsive]="true" showEffect="fade"
  [modal]="true" width="500" (onAfterHide)="onDialogHide()">
  <div class="container ui-g" *ngIf="selectedProduct">
    <div class="ui-g-12" style="text-align:center">
      <img src="{{selectedProduct.picture}}">
    </div>
    <div class="ui-g-4">Référence: </div>
    <div class="ui-g-8">{{selectedProduct.ref}}</div>

    <div class="ui-g-4">Nom: </div>
    <div class="ui-g-8">{{selectedProduct.name}}</div>

    <div *ngIf !="isOrdered">
      <div class="text-danger ui-g-4">Attention: </div>
      <div class="ui-g-8">
        <p class="text-danger">Ce produit est en cours de commande , vous ne pouvez que le désactivé</p>
      </div>
    </div>
    <div *ngIf="isOrdered">
      <div class="ui-g-8">
        <p class="text-warning">Etes vous sur de vouloir Supprimé ce produit de la Base de donnée ?</p>
      </div>
    </div>
    <div >
      <button *ngIf != "isOrdered" class="validation btn btn-warning "  role="button" type="button">Desactivation </button>    
      <button *ngIf="isOrdered" class="validation btn btn-danger "  role="button" type="button">Supprimé </button>    
      <br>
      <br>
      <button class=" validation btn btn-default active" aria-pressed="true" type="button"> Annulé </button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Modification des produits" [(visible)]="displayDialog3" [responsive]="true" showEffect="fade" [modal]="true" width="500"
  (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="selectedProduct">
    <div class="ui-g-12" style="text-align:center">
      <img src="{{selectedProduct.picture}}">
    </div>
    <div class="ui-g-4">Référence: </div>
    <input class="ui-g-8">

    <div class="ui-g-4">Nom: </div>
    <div class="ui-g-8">{{selectedProduct.name}}</div>

    <div class="ui-g-4">Type: </div>
    <div class="ui-g-8">{{selectedProduct.type}}</div>

    <div class="ui-g-4">Prix: </div>
    <div class="ui-g-8">{{selectedProduct.price}} €</div>
  </div>
</p-dialog>
